* {
	box-sizing: border-box; 
}

body {
	background-image: url("../pictures/test.jpg");
	background-size: cover;  	
	background-repeat: no-repeat; 

}

h1 {
	text-align: center; 
}

form {
	position: relative; 
}

#error{
	display: none;
	color: red;
}