* {
	box-sizing: border-box; 
}

body {
	background-image: url("../pictures/test.jpg");
	background-size: cover;  	
	background-repeat: no-repeat; 

}

h1 {
	text-align: center; 
}

fieldset {
	font-family: 'TeachersStudent'; 
	src: url('TeachersStudent.ttf') format('truetype'); 
	color: white; 
}

form {
	position: relative; 
}