#headerFront
{
    background-color: #A2DD71;
}

#headerBack
{
    color :white;
    background-color: #c03131;
}

.brandBack{
    background: url("../pictures/zoneHeaderPropre.png") ;
}

header
{
    font-min-size: 15px;
    text-align: center;
}

