.btn-secondary, .btn-info{
    padding: 1%;
    margin: 1%;
}

#form_commercant{
    display: none;
}

#nameError, #PNameError, #emailError,#nameShopError{
    display: none;
    color: rgb(255,0,0);
}